<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.picnii.zenpos"
        versionCode = "6" 
        version     = "3" >

    <!-- versionCode is optional and Android only -->

    <name>THE Zen POS(Mobile)</name>

    <description>
        Zen POS is simple Point of sales (test)
    </description>

    <author href="http://npop.in.th" email="sonpop@picnii.me">
        Sompop Kulapalanont
    </author>
    <gap:plugin name="org.apache.cordova.camera" version="0.2.9" />
</widget>