<div class="scrollable">
	<div class="scrollable-content">
		<section ng-hide="is_add_new">
			
			<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Price</th>
					<th colspan="2">Type</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="product in items" >
					<td >
						<span  ng-hide="product.isEdit">{{product.name}}</span>
						<input ng-show="product.isEdit" type="text" ng-model="product.name">
					</td>
					<td>
						<span  ng-hide="product.isEdit">{{product.price | currency:store.currency}}</span>
						<input  ng-show="product.isEdit" type="number" ng-model="product.price">
					</td>
					<td>
						<span  ng-hide="product.isEdit">{{product.type}}</span>
						<input  ng-show="product.isEdit" type="text" ng-model="product.type">
					</td>
					<td>
						<button  ng-hide="product.isEdit" ng-click="product.isEdit=true" class="btn btn-primary">Edit</button>
						<button  ng-show="product.isEdit" ng-click="product.save()" class="btn btn-primary">Save</button>
						<button ng-show="product.isEdit" ng-click="product.delete()" class="btn btn-danger">X</button>
					</td>
				</tr>
			</tbody>
			</table>
			<div class="btm-space"></div>
			
		</section>
		<section ng-show="is_add_new">
			<!--<button ng-click="is_add_new = false" class="btn btn-primary">Back</button><br/>-->
			<form role="form">
				<div class="form-group">
					<label for="name-input">Name</label>
					<input ng-model="newItem.name" id="name-input" class="form-control" type="text" placeholder="Name">
				</div>
				<div class="form-group">
					<label for="price-input">Price</label>
					<input ng-model="newItem.price" id="price-input" class="form-control" type="number" placeholder="Price">
				</div>
				<div class="form-group">
					<label for="type-input">Type</label>
					<input ng-model="newItem.type" id="type-input" class="form-control" type="text" placeholder="Type">
				</div>
				
				
			</form>
			<div class="btm-space"></div>
		</section>
	</div>
</div>
<!--<div class="btm-btn" ng-hide="is_add_new">
	<button class="btn  btn-primary form-control" ng-click="is_add_new=true;">ADD NEW</button>
</div>
<div class="btm-btn" ng-show="is_add_new">
	<button class="btn  btn-primary form-control" ng-click="addItem(newItem)">Save</button>
</div>
-->