<div class="scrollable" style="background:white;">
	<div class="scrollable-content">
		<section>
			<table class="table">
				<thead>
					<tr>
						<th class="center">Product</th>
						<th class="center">Quantity</th>
						<th></th>
						<th></th>
						
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in products">
						<td><div style="text-align:center;">
							<h4>{{item.name}}</h4>
							<span ng-show="store.is_use_stock">{{item.currentStock}} / {{item.initStock}} </span>
						</div></td>
						<td class="center">{{item.count}}</td>
						<td><button class="order btn btn-lg btn-primary" ng-click="item.add()">+</button></td>
						<td><button class="order btn btn-lg btn-danger" ng-click="item.remove()">-</button></td>
					</tr>
				</tbody>
			</table>
			<div class="btm-space">
			</div>
			<div class="btm-btn" >

				<button ng-click="sendOrder()" class="btn btn-primary form-control">Order</button>
			</div>
		</section>
	</div>
</div>