<section class="form">
	<h5 class="hidden-xs">Search</h5>
	<select ng-model="searchOption" ng-options="item.name for item in searchOptions" class="form-control" ng-change="updateSearch()" ></select>
</section>

<div class="scrollable" style="margin-top:50px;">
	<div class="scrollable-content">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Time</th>
					<th>Order</th>
					<th>Amount</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="bill in bills | filter:search" class="is-printed-{{bill.isPrinted}}">
					<td>{{bill.id}}</td>
					<td>{{bill.create_time | date:'short'}}</td>
					<td>{{bill.carts[0].name}}, ...</td>
					<td>{{bill.sum | currency:store.currency}}</td>
					<td><a class="btn btn-primary" ng-href="#/bill/{{bill.id}}">VIEW</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<style type="text/css">
.table-striped>tbody>tr.is-printed-true:nth-child(odd)>td
{
	background-color: #4B80B1;
	color:white;
}

.table-striped>tbody>tr.is-printed-true:nth-child(odd)>td a.btn-primary
{
	background-color: #FFC200;
	border-color: #E6B800;
}
.table-striped>tbody>tr.is-printed-true:nth-child(even)>td
{
	background-color: #666;
}

input.search-btn
{
	
	height:50px;
	width: auto;
	margin-right: 5px;
}

label.search-label
{
	height: 50px;
	vertical-align: middle;
}

</style>